{% extends "base.html" %} {% block head %}
<script>
  async function addBook(room_id, date_from, date_to) {
    const url = `http://localhost/pages/hotels/add_booking?room_id=${room_id}&date_from=${date_from}&date_to=${date_to}`;
    await fetch(url, {
      method: "POST",
    }).then((response) => {
      if (response.status === 200) {
        alert("Success!");
      } else {
        alert("Oooops!");
      }
    });
  }
</script>
{% endblock %} {% block content %}
<div>
  <div class="flex justify-center mb-10 text-3xl">
    Room in &nbsp;<span class="font-bold">{{ hotel.name }}</span>
  </div>
  {% if rooms %}
  <div class="flex flex-col items-center">
    {% for room in rooms %}
    <div class="flex shadow-md mb-5 pr-4 items-center">
      <img
        src="{{ url_for('static', path='images/' + room.image_id|string + '.webp') }}"
        alt="Room"
        width="300"
      />
      <div class="flex items-center">
        <div class="px-4 py-3 w-[25rem]">
          <div class="pl-1 font-bold">{{ room.name }}</div>
          <hr class="my-2" />
          {% if room.description %}
          <div class="mb-2 pl-1">{{ room.description }}</div>
          {% endif %}
          <div class="pl-1 mb-2">{{ " · ".join(room.services) }}</div>
          <span class="pl-1 mb-2"
            >Rooms left:&nbsp;{{ room.rooms_left }} from {{ room.quantity
            }}</span
          >
        </div>
        <div class="flex justify-top flex-col items-center">
          <!-- Total cost formatiing 12345 -> 12 345 -->
          <span class="font-bold text-4xl">
            Total cost: {{ room.total_cost }}</span
          >
          <!-- <span class="mb-1 text-xl"> {{ booking_length }} per night</span> -->
          <span class="mb-2">{{ room.price }} per night</span>
          <form>
            <div class="flex flex-col items-center">
              <span>From {{ date_from_formatted }}</span>
              <span class="mb-5">to {{ date_to_formatted }}</span>
              <input
                name="date_from"
                type="hidden"
                type="text"
                value="{{ date_from }}"
                readonly="readonly"
              />
              <input
                name="date_to"
                type="hidden"
                type="text"
                value="{{ date_to }}"
                readonly="readonly"
              />
              <input
                name="room_id"
                type="hidden"
                value="{{ room.id }}"
                readonly="readonly"
              />
              <button
                onclick="addBook('{{room.id|string}}','{{ date_from|string }}','{{ date_to|string }}')"
                type="submit"
                class="text-lg bg-yellow-400 px-3 py-1 rounded-3xl mb-3"
              >
                Book
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
